@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /><br />
    <h1 class="display-4">USFX (Examen Final SIS457)| ©  <strong>Ronaldo Cahuasiri Colque </strong></h1>
    <p>Carrera <a href="#">T.S Informatica</a>.</p>
    <br /><br />
</div>
