@model FinalSis457Rcc.Models.Serie

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Serie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sinopsis" class="control-label"></label>
                <input asp-for="Sinopsis" class="form-control" />
                <span asp-validation-for="Sinopsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duracion" class="control-label"></label>
                <input asp-for="Duracion" class="form-control" />
                <span asp-validation-for="Duracion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEstreno" class="control-label"></label>
                <input asp-for="FechaEstreno" class="form-control" />
                <span asp-validation-for="FechaEstreno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioRegistro" class="control-label"></label>
                <input asp-for="UsuarioRegistro" class="form-control" />
                <span asp-validation-for="UsuarioRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistroActivo" class="control-label"></label>
                <input asp-for="RegistroActivo" class="form-control" />
                <span asp-validation-for="RegistroActivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-action="Index" class="btn btn-dark">Volver a la Lista principal</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
